h1{ 
  text-align: left; 
  background-color: rgb(11, 245, 241); 
} 
 
.mystyle 
{ 
  text-align: center; 
  background-color: blueviolet; 
} 
.myimg 
{ 
  border: 1px solid white; 
  margin: 1%; 
  border-radius: 50%; 
} 
.list 
{ 
  color:blueviolet 
} 
#btn 
{ 
  color:chartreuse; 
} 
ul p{
  color: red;
}
ul p b{ 
  color:rgb(14, 78, 215); 
   
} 
.hi{
  color: blue;
}


